@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.JoinPage{
    background-color: rgb(36, 34, 34);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Join-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Join-container > img {
    border-radius: 50%;
    width: 10vmax;
}

.Join-container > h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vmax;
    width: 20vmax;
    text-align: center;
    padding: 1vmax;
    border-bottom: 0.2vmax solid white;
    box-sizing: border-box;
}

#JoinInput{
    width: 20vmax;
    padding: 1vmax;
    outline: none;
    border: none;
    font-size: 1.2vmax;
    margin: 1vmax;
    border-radius: 3px;
    box-sizing: border-box;
}
#JoinBtn{
    width: 20vmax;
    border-radius: 3px;
    padding: 1vmax;
    outline: none;
    border: none;
    font-size: 1.2vmax;
    margin: 1.1vmax;
    box-sizing: border-box;
    background-color: crimson;
    color: white;
    font-family: 'Roboto',sans-serif;
}

#JoinBtn:hover{
    cursor: pointer;
    background-color: rgb(163, 27, 54);
    transition: all 0.3s ;
}